.container{
    width:400px;
    margin:auto;
    margin-top:100px;
    padding-bottom:30px;
    background-color: gray;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    padding:10px 0px;
    font-size: 45px;
    color:blueviolet;
    font-weight: bold;
}
.underline{
    width:50px;
    height: 6px;
    background-color: blue;
    border-radius: 50px;
}
.inputs{
    width: 400px;
    padding:20px 50px;
    margin-top:10px;
    align-items: center;
}
.input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    background-color: transparent;
    position: relative;
   
}
.input input{
    width: 220px;
    height: 20px;
    border:none;
    margin:none;
    padding:20px 50px;
    border-radius: 10px;
}
.input i{
    position: absolute;
    left:50px;
}
.forget{
    font-size: 20px;
    font-weight: 500;
}
.forget span{
    color:blue;
    cursor: pointer;
}
.forget span:hover{
    text-decoration: underline;
}
.submit-container{
    display: flex;
    gap:30px;
    margin:30px auto;
}
.submit{
    background-color: blueviolet;
    color:white;
    padding:10px 20px;
    border-radius: 30px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;;
}
.gray{
    background-color: white;
    color:black;
}